{% extends "base.html" %}
{% block extrahead %}
<meta name="googlebot" content="index,follow" />
<meta name="robots" content="index,follow" />
{% endblock %}

{% block libs %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1S95NW11LR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-1S95NW11LR');
</script>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block content %}
<div>
  <div class="mobile-nav-wrapper" {{ hidden }}>
    <a href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}" title="{{ config.site_name | e }}"
       class="md-header__button md-logo logo--small" aria-label="{{ config.site_name }}" data-md-component="logo">
      {% include "partials/logoMobile.html" %}
    </a>
    <label for="__drawer" class="close-button">
      {% include "partials/close.html" %}
    </label>
  </div>

  {{ super() }}
</div>

{% endblock %}
