

<div class="site-footer">
    

    <br />
    <div class="container" style="font-size:1.2em;">
        <div class="row">
            <div class="col-sm">
                <a href="https://kopicloud-ad-api.com/Download" style="color: dodgerblue;">  <span class="twemoji">{% include ".icons/fontawesome/solid/cloud-arrow-down.svg" %} </span>&nbsp; Download </a>
                <br /><br />
                <a href="https://kopicloud-ad-api.com/Consulting" style="color: dodgerblue;"><span class="twemoji">{% include ".icons/fontawesome/solid/people-group.svg" %} </span>&nbsp;Consulting Services</a>
                <br /><br />
                <a href="https://help.kopicloud-ad-api.com" style="color: dodgerblue;"><span class="twemoji">{% include ".icons/fontawesome/regular/circle-question.svg" %} </span>&nbsp;Documentation</a>
            </div>
            <div class="col-sm">
                <a href="https://kopicloud-ad-api.com/Feature" style="color: dodgerblue;"><span class="twemoji">{% include ".icons/fontawesome/solid/circle-plus.svg" %} </span>&nbsp;Request New
                    Features</a>
                <br /><br />
                <a href="https://kopicloud-ad-api.com/Feature/Roadmap" style="color: dodgerblue;"><span class="twemoji">{% include ".icons/fontawesome/regular/map.svg" %} </span>&nbsp;Roadmap</a>
            </div>
            <div class="col-sm">
                <a href="https://kopicloud-ad-api.com/About" style="color: dodgerblue;"><span class="twemoji">{% include ".icons/fontawesome/solid/circle-info.svg" %} </span>&nbsp;About us</a>
                <br /><br />
                <a href="https://kopicloud-ad-api.com/Contact" style="color: dodgerblue;"><span class="twemoji">{% include ".icons/fontawesome/solid/message.svg" %} </span>&nbsp;Contact us</a>
                <br /><br />
                <a href="https://kopicloud-ad-api.com/Privacy" style="color: dodgerblue;"><span class="twemoji">{% include ".icons/fontawesome/solid/user-shield.svg" %} </span>&nbsp;Privacy
                    Policy</a>
                <br /><br />
                <a href="https://kopicloud-ad-api.com/TermsOfService" style="color: dodgerblue;"><span class="twemoji">{% include ".icons/fontawesome/regular/file-lines.svg" %} </span>&nbsp;Terms of Service</a>
            </div>
        </div>
        <br />

        <hr />

        <div class="row">
            <div class="col-sm-6">
                <a href="https://www.kopicloud.com"><img src="assets/images/logo.png" target="_blank" /></a>
            </div>

            <div class="col-sm-6">
                <div class="float-right brand-icons">
                    <a href="https://www.linkedin.com/company/kopicloud" target="_blank" style="float:right">
                        <span class="twemoji">{% include ".icons/fontawesome/brands/linkedin-in.svg" %} </span>
                    </a>

                    <a href="https://www.facebook.com/kopicloud" target="_blank" style="float:right">
                        <span class="twemoji">{% include ".icons/fontawesome/brands/facebook.svg" %} </span>
                    </a>

                    <a href="https://twitter.com/KopiCloud" target="_blank" style="float:right">
                        <span class="twemoji">{% include ".icons/fontawesome/brands/twitter.svg" %} </span>
                    </a>

                    <a href="https://gmusumeci.medium.com" target="_blank" style="float:right">
                        <span class="twemoji">{% include ".icons/fontawesome/brands/medium.svg" %} </span>
                    </a>
                </div>
            </div>
        </div>

        <hr />

        <center>
            Copyright &copy; 2014-2023 by KopiCloud Limited | KopiCloud Limited, Bayfield Building, 99 Hennessy Road,
            Wan Chai, Hong Kong
            <br />
            
        </center>
        <br />
    </div>

</div>